body{
	background: linear-gradient(to right, #da4453, #89216b);
}

h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: white;
	letter-spacing: 50px;
	font-size: 100px;
	text-transform: uppercase;
}

h2{
	text-align: center;
	font-family: 'Bree Serif', serif;
	color: white;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 100px;
	height: 40px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* Button Style */

.button {
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.button.btnPush {
	box-shadow: 0px 5px 0px 0px #bbb;
	opacity: 0.6;
}

.btnPush:hover {
	opacity: 1;
	transition: 0.5s;
}